@page "/counter"
@using Microsoft.AspNetCore.Mvc.Rendering


<EditForm Model="users" OnValidSubmit="save">
    <div class="rz-p-sm-12 rz-text-align-center">
        <RadzenDropDown @bind-Value=@values Data=@WL_DistrictLists TextProperty="Text" ValueProperty="Value"
                        Multiple=true AllowClear=true Placeholder="Select products" Style="width: 100%; max-width: 400px;" />
    </div>
    <button type="submit"> Save</button>
 </EditForm>

 

@code {
    public IEnumerable<string> values =new string[] {"1" ,"2" };
    private SelectListItem[] WL_DistrictLists;

    user users = new();
    protected override async Task OnInitializedAsync()
    {

        SelectListItem[] items = new SelectListItem[10];

        // Loop through the array and populate each SelectListItem with a random value
        for (int i = 0; i < items.Length; i++)
        {
            int randomNumber = new Random().Next(100); // Generate a random number between 0 and 99
            items[i] = new SelectListItem { Value = randomNumber.ToString(), Text = "Item " + randomNumber };
        }

        // Assign the array to the property
        WL_DistrictLists = items;

        await base.OnInitializedAsync();

    }
    public void save()
    {
        users.Id = values.ToArray();
    }
    public class user
    {
        public string[] Id { get; set; } = new string[] { };
        public string Name { get; set; }
    }
}
